/*
 * style.css
 * Copyright (C) 2019 nicolasfara
 *
 * Distributed under terms of the MIT license.
 */

.cont {
  padding-top: 11% !important;
}

@media only screen and (max-width: 700px) {
  .cont {
    padding-top: 50% !important;
  }
}