{% extends 'layout.html' %}

{% block scripts %}
    <script src="{{ url_for('static', filename='components/visibility.js') }}" defer></script>
    <script src="{{ url_for('static', filename='components/sidebar.js') }}" defer></script>
    <script src="{{ url_for('static', filename='components/transition.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/home.js') }}" defer></script>
{% endblock %}

{% block nav %}
    <div class="ui top fixed menu">
        <div class="item">
            <img src="{{ url_for('static', filename='img/logo_no_words.png') }}" alt="">
        </div>
        <a class="item" href="{{ url_for('panel') }}">Predictor</a>
        <a class="item">Credits</a>
    </div>
{% endblock %}

{% block content %}
    <div class="ui grid cont container">
        <div class="ui middle aligned one column centered grid">
            <div class="row">
                <div class="column">
                    <div class="ui segment">
                        <div class="ui two column very relaxed grid">
                            <div class="column middle aligned">
                                <img class="ui image" src="{{ url_for('static', filename='img/logo.png') }}">
                            </div>
                            <div class="column middle aligned">
                                <p>With this app you could test your healthy.<br>Insert your data and a ML model predict the presence or not of cardiovascular disease.</p>
                            </div>
                        </div>
                        <div class="ui vertical divider">
                            <i class="heart icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
