{% extends 'layout.html' %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/panel.js') }}" defer></script>
{% endblock %}

{% block content %}

    <div class="ui hidden divider"></div>

    <div class="ui container">
        <h1>Cardiovascular disease prediction</h1>
        <div class="ui hidden divider"></div>
        <div class="ui segments padded">
            <div class="ui segment teal">
                <h2>Personal information</h2>
            </div>
            <div class="ui segment">
                <form id="submit-form" class="ui form" method="GET">
                    <div class="ui grid container">

                        <div class="eight wide tablet four wide computer column">
                            <div class="grouped fields">
                                <label>Gender:</label>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input id="male" type="radio" name="gender" checked="" tabindex="0" class="hidden" value="1">
                                        <label for="male">Male</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input id="female" type="radio" name="gender" tabindex="0" class="hidden" value="2">
                                        <label for="female">Female</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="eight wide tablet four wide computer column">
                            <div class="field">
                                <label for="age">Age</label>
                                <input id="age" type="number" name="age" placeholder="Age">
                            </div>
                        </div>

                        <div class="eight wide tablet four wide computer column">
                            <div class="field">
                                <label for="height">Height (cm)</label>
                                <input id="height" type="number" name="height" placeholder="Height">
                            </div>
                        </div>

                        <div class="eight wide tablet four wide computer column">
                            <div class="field">
                                <label for="weight">Weight (Kg)</label>
                                <input id="weight" type="number" name="weight" placeholder="Weight">
                            </div>
                        </div>

                        <div class="eight wide tablet four wide computer column">
                            <div class="field">
                                <label for="ap_lo">Systolic pressure (Min)</label>
                                <input id="ap_lo" type="number" name="ap_lo" placeholder="Systolic pressure">
                            </div>
                        </div>

                        <div class="eight wide tablet four wide computer column">
                            <div class="field">
                                <label for="ap_hi">Diastolic press. (Max)</label>
                                <input id="ap_hi" type="number" name="ap_hi" placeholder="Diastolic pressure">
                            </div>
                        </div>

                        <div class="sixteen wide tablet four wide computer column">
                            <div class="field">
                                <label for="chol">Cholesterol</label>
                                <select id="chol" class="ui search dropdown" name="cholesterol">
                                    <option value="">Select Cholesterol</option>
                                    <option value="0">Normal</option>
                                    <option value="1">Above normal</option>
                                    <option value="2">Well above normal</option>
                                </select>
                            </div>
                        </div>

                        <div class="sixteen wide tablet four wide computer column">
                            <div class="field">
                                <label for="gluc">Glucose</label>
                                <select id="gluc" class="ui search dropdown" name="glucose">
                                    <option value="">Select Glucose</option>
                                    <option value="0">Normal</option>
                                    <option value="1">Above normal</option>
                                    <option value="2">Well above normal</option>
                                </select>
                            </div>
                        </div>

                        <div class="eight wide tablet four wide computer column">
                            <div class="grouped fields">
                                <label>Is smoking?:</label>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input id="smoking" type="radio" name="smoking" checked="" tabindex="0" class="hidden" value="1">
                                        <label for="smoking">Yes</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input id="no_smoking" type="radio" name="smoking" tabindex="0" class="hidden" value="0">
                                        <label for="no_smoking">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="eight wide tablet four wide computer column">
                            <div class="grouped fields">
                                <label>Do physical activity?:</label>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input id="activity" type="radio" name="physical" checked="" tabindex="0" class="hidden" value="1">
                                        <label for="activity">Yes</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input id="no_activity" type="radio" name="physical" tabindex="0" class="hidden" value="0">
                                        <label for="no_activity">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="eight wide tablet four wide computer column">
                            <div class="grouped fields">
                                <label>Alcohols dependent?:</label>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input id="alchool" type="radio" name="alchool" checked="" tabindex="0" class="hidden" value="1">
                                        <label for="alchool">Yes</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input id="no_alchool" type="radio" name="alchool" tabindex="0" class="hidden" value="0">
                                        <label for="no_alchool">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sixteen wide tablet four wide computer column">
                            <div class="field">
                                <label for="model_type">Choose model for prediction</label>
                                <select id="model_type" class="ui search dropdown" name="model">
                                    <option value="">Select Model</option>
                                    <option value="xgb">XGBoost</option>
                                    <option value="svm">SVM</option>
                                    <option value="lr">Logistic Regression</option>
                                    <option value="rfc">Random Forest Classifier</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="ui clearing segment">
                <button id="form_button" class="ui button primary ui right floated" type="submit">Submit</button>
                <button id="reset_button" class="ui button ui right floated" type="reset">Reset</button>
            </div>
        </div>
    </div>

    <div class="ui hidden divider"></div>

    <div class="ui container">
        <div class="ui segments padded">
            <div class="ui segment green">
                <h2>Result</h2>
            </div>
            <div class="ui segment">
                <h5>Prediction:</h5>
                <p id="disease-result"></p>
                <h5>Probability:</h5>
                <p id="disease-prob"></p>
            </div>
        </div>
    </div>


{% endblock %}
